<div class='container form-group'>
  <form class='item' #f='ngForm' (ngSubmit)='f.form.valid && onLogin(f)'>
      <div class='list-group-item'>
        <input class="form-control" type='email' name='email' placeholder="Email" ngModel required size='20'>
      </div>
      <div class='list-group-item'>
        <input class="form-control" type='password' name='password' placeholder="Password" ngModel required size='20'>
      </div>

      <button class="btn btn-primary" type='submit' style='cursor:pointer'>Ingresar</button>
  </form>
</div>
