<div class='container'>
  <button type="button"
  mat-stroked-button
  color="primary"
  (click) = 'onAgregarPersona()'
  >Agregar Nueva Persona</button>
</div>

<router-outlet></router-outlet>


  <mat-grid-list cols="4" rowHeight="300px">
      <mat-grid-tile
        [colspan]='1'
        [rowspan]='1'
        >
        <div class='container fondoListado'>
          <h2>Listado de Personas</h2>
          <app-persona
          *ngFor="let personaElemento of _personas; let i = index"
          [persona]="personaElemento"
          [indice]="i"
          (editar)='onLlamarEdicion($event)'
          ></app-persona>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
      [colspan]='3'
      [rowspan]='1'
      >
        <div class='container'>
          <app-formulario-edicion
          [hidden]="!mostrarEdicion"
          [persona]='persona'
          [indice]='indice'
          (cerraEdicion)='cerrarForm($event)'
          ></app-formulario-edicion>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

